.horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 50px;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: grey;*/
    /*border-image: initial;*/
}

.horizontal-slider .example-track {
    top: 20px;
    height: 5px;
}

.example-track {
    background: mediumslateblue;
}

.horizontal-slider .example-thumb {
    top: 1px;
    width: 50px;
    height: 48px;
    line-height: 48px;
}

element.style {
    position: absolute;
    z-index: 1;
    left: 0px;
    will-change: left;
}

.example-thumb {
    font-size: 0.9em;
    text-align: center;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}

.example-thumb.active {
    background-color: deeppink;
}


